dist/ui.html
<!DOCTYPE html>
<html lang="ru">
  <!-- Mirrored from www.freedome-realty.ru/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 24 Apr 2018 11:35:26 GMT-->
  <!-- Added by HTTrack-->
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <!-- /Added by HTTrack-->
    <title>Агентство недвижимости «ФРИДОМ» - Москва, сайт профессионального агентства недвижимости</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="недвижимость, агентство недвижимости, недвижимость в москве, продажа недвижимости, сайт недвижимости, купить недвижимость, недвижимость москва">
    <meta name="description" content="Оказание услуг по купле и продаже недвижимости, сопровождение сделок, помощь при покупке квартиры в ипотеку. Агентство недвижимости «ФРИДОМ». Москва.">
    <script type="text/javascript" data-skip-moving="true">
      (function (w, d) {
      var v = w.frameCacheVars = {
      'CACHE_MODE': 'HTMLCACHE',
      'storageBlocks': [],
      'dynamicBlocks': {
      'LkGdQn': 'cffe316d7038',
      '7DqYyc': 'c42589642224',
      'jmonnO': '9d0d3a85133b',
      'iJBuqa': '55fe07648b90',
      'd42sdq': 'f43d4ab792f5',
      'XEVOpk': '20f8bbff3326',
      'rcBNcO': '32c628be9435'
      },
      'AUTO_UPDATE': true,
      'AUTO_UPDATE_TTL': '120'
      };
      var inv = false;
      if (v.AUTO_UPDATE === false) {
      if (v.AUTO_UPDATE_TTL && v.AUTO_UPDATE_TTL > 0) {
      var lm = Date.parse(d.lastModified);
      if (!isNaN(lm)) {
      var td = new Date().getTime();
      if ((lm + v.AUTO_UPDATE_TTL * 1000) >= td) {
      w.frameRequestStart = false;
      w.preventAutoUpdate = true;
      return;
      }
      inv = true;
      }
      } else {
      w.frameRequestStart = false;
      w.preventAutoUpdate = true;
      return;
      }
      }
      var r = w.XMLHttpRequest ? new XMLHttpRequest() : (w.ActiveXObject ? new w.ActiveXObject(
      "Microsoft.XMLHTTP") : null);
      if (!r) {
      return;
      }
      w.frameRequestStart = true;
      var m = v.CACHE_MODE;
      var l = w.location;
      var x = new Date().getTime();
      var q = "?bxrand=" + x + (l.search.length > 0 ? "&" + l.search.substring(1) : "");
      var u = l.protocol + "//" + l.host + l.pathname + q;
      r.open("GET/index.html", u, true);
      r.setRequestHeader("BX-ACTION-TYPE", "get_dynamic");
      r.setRequestHeader("BX-CACHE-MODE", m);
      r.setRequestHeader("BX-CACHE-BLOCKS", v.dynamicBlocks ? JSON.stringify(v.dynamicBlocks) : "");
      if (inv) {
      r.setRequestHeader("BX-INVALIDATE-CACHE", "Y");
      }
      try {
      r.setRequestHeader("BX-REF", d.referrer || "");
      } catch (e) {}
      if (m === "APPCACHE") {
      r.setRequestHeader("BX-APPCACHE-PARAMS", JSON.stringify(v.PARAMS));
      r.setRequestHeader("BX-APPCACHE-URL", v.PAGE_URL ? v.PAGE_URL : "");
      }
      r.onreadystatechange = function () {
      if (r.readyState != 4) {
      return;
      }
      var a = r.getResponseHeader("BX-RAND");
      var b = w.BX && w.BX.frameCache ? w.BX.frameCache : false;
      if (a != x || !((r.status >= 200 && r.status < 300) || r.status === 304 || r.status === 1223 ||
      r.status === 0)) {
      var f = {
      error: true,
      reason: a != x ? "bad_rand" : "bad_status",
      url: u,
      xhr: r,
      status: r.status
      };
      if (w.BX && w.BX.ready) {
      BX.ready(function () {
      setTimeout(function () {
      BX.onCustomEvent("onFrameDataRequestFail", [f]);
      }, 0);
      });
      } else {
      w.frameRequestFail = f;
      }
      return;
      }
      if (b) {
      b.onFrameDataReceived(r.responseText);
      if (!w.frameUpdateInvoked) {
      b.update(false);
      }
      w.frameUpdateInvoked = true;
      } else {
      w.frameDataString = r.responseText;
      }
      };
      r.send();
      })(window, document);
    </script>
    <script type="text/javascript" data-skip-moving="true">
      (function (w, d, n) {
      var cl = "bx-core";
      var ht = d.documentElement;
      var htc = ht ? ht.className : undefined;
      if (htc === undefined || htc.indexOf(cl) !== -1) {
      return;
      }
      var ua = n.userAgent;
      if (/(iPad;)|(iPhone;)/i.test(ua)) {
      cl += " bx-ios";
      } else if (/Android/i.test(ua)) {
      cl += " bx-android";
      }
      cl += (/(ipad|iphone|android|mobile|touch)/i.test(ua) ? " bx-touch" : " bx-no-touch");
      cl += w.devicePixelRatio && w.devicePixelRatio >= 2 ? " bx-retina" : " bx-no-retina";
      var ieVersion = -1;
      if (/AppleWebKit/.test(ua)) {
      cl += " bx-chrome";
      } else if ((ieVersion = getIeVersion()) > 0) {
      cl += " bx-ie bx-ie" + ieVersion;
      if (ieVersion > 7 && ieVersion < 10 && !isDoctype()) {
      cl += " bx-quirks";
      }
      } else if (/Opera/.test(ua)) {
      cl += " bx-opera";
      } else if (/Gecko/.test(ua)) {
      cl += " bx-firefox";
      }
      if (/Macintosh/i.test(ua)) {
      cl += " bx-mac";
      }
      ht.className = htc ? htc + " " + cl : cl;
      function isDoctype() {
      if (d.compatMode) {
      return d.compatMode == "CSS1Compat";
      }
      return d.documentElement && d.documentElement.clientHeight;
      }
      function getIeVersion() {
      if (/Opera/i.test(ua) || /Webkit/i.test(ua) || /Firefox/i.test(ua) || /Chrome/i.test(ua)) {
      return -1;
      }
      var rv = -1;
      if (!!(w.MSStream) && !(w.ActiveXObject) && ("ActiveXObject" in w)) {
      rv = 11;
      } else if (!!d.documentMode && d.documentMode >= 10) {
      rv = 10;
      } else if (!!d.documentMode && d.documentMode >= 9) {
      rv = 9;
      } else if (d.attachEvent && !/Opera/.test(ua)) {
      rv = 8;
      }
      if (rv == -1 || rv == 8) {
      var re;
      if (n.appName == "Microsoft Internet Explorer") {
      re = new RegExp("MSIE ([0-9]+[\\.0-9]*)");
      if (re.exec(ua) != null) {
      rv = parseFloat(RegExp.$1);
      }
      } else if (n.appName == "Netscape") {
      rv = 11;
      re = new RegExp("Trident/.*rv:([0-9]+[\\.0-9]*)");
      if (re.exec(ua) != null) {
      rv = parseFloat(RegExp.$1);
      }
      }
      }
      return rv;
      }
      })(window, document, navigator);
    </script>
    <!-- <link href="https://www.freedome-realty.ru/bitrix/cache/css/s1/freedome-2017/kernel_main/kernel_main.css?152355352530020" type="text/css"   rel="stylesheet" />-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i" type="text/css" rel="stylesheet">
    <!-- <link href="https://www.freedome-realty.ru/bitrix/cache/css/s1/freedome-2017/page_637b52158c5ae08bbcfc7ccecdb42d03/page_637b52158c5ae08bbcfc7ccecdb42d03.css?15235532554620" type="text/css"   rel="stylesheet" />-->
    <!-- <link href="https://www.freedome-realty.ru/bitrix/cache/css/s1/freedome-2017/template_53111996b9965ceaba253eec7e105ad9/template_53111996b9965ceaba253eec7e105ad9.css?1523553255227829" type="text/css"   data-template-style="true"  rel="stylesheet" />-->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="local/templates/freedome-2017/img/favicon2.png">
    <meta property="og:url" content="https://www.freedome-realty.ru/">
    <meta property="og:title" content="Агентство недвижимости «ФРИДОМ» - Москва, сайт профессионального агентства недвижимости">
    <meta property="og:description" content="Оказание услуг по купле и продаже недвижимости, сопровождение сделок, помощь при покупке квартиры в ипотеку. Агентство недвижимости «ФРИДОМ». Москва.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://www.freedome-realty.ru/local/templates/freedome-2017/img/og_image.jpg">
    <meta property="og:image:secure_url" content="https://www.freedome-realty.ru/local/templates/freedome-2017/img/og_image.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:type" content="image/jpeg">
    <link rel="stylesheet" href="old.css">
    <link rel="stylesheet" href="new-styles.css">
    <link rel="stylesheet" href="css/styles.css">
    <!-- END: 20-06-2018-->
  </head>
  <body>
    <div class="mobile_menu_block">
      <div class="mobile_menu_block-wrap">
        <p class="mobile_menu-back">Назад</p>
        <ul>
          <li><span>Каталог недвижимости</span>
            <ul>
              <li><span>Собственникам</span>
                <ul>
                  <li><span>Продать</span>
                    <ul>
                      <li><span>Квартиру/комнату</span></li>
                      <li><span>Дом/коттедж</span></li>
                      <li><span>Дачу</span></li>
                      <li><span>Земельный участок</span></li>
                      <li><span>Коммерческую недвижимость</span></li>
                      <li><span>Новостройку</span></li>
                      <li><span>Зарубежную недвижимость</span></li>
                      <li><span>Элитную недвижимость</span></li>
                      <li><span>Залоговую недвижимость</span></li>
                    </ul>
                  </li>
                  <li><span>Обменять</span></li>
                  <li><span>Сдать</span></li>
                  <li><span>Доверительное управление</span></li>
                  <li><span>Срочный выкуп</span></li>
                  <li><span>Сопровождение</span></li>
                  <li><span>Оформление</span></li>
                  <li><span>Ипотека</span></li>
                </ul>
              </li>
              <li><span>Покупателям</span></li>
              <li><span>Аренадторам</span></li>
              <li><span>Ипотека</span></li>
            </ul>
          </li>
          <li><span>Каталог услуг</span></li>
          <li><span>Помощь клиентам</span></li>
          <li><span>Новости и аналитика</span></li>
          <li><span>О компании</span></li>
          <li><span>Контакты</span></li>
        </ul>
      </div>
    </div>
    <div class="mobile_menu-overlay"></div>
    <header class="catalog-header">
      <div class="header_wrap">
        <div class="header_mobile-top">
          <div class="container clearfix">
            <div class="burger_button">
              <div class="burger_button-wrap">
                <div class="burger_item"></div>
                <div class="burger_item"></div>
                <div class="burger_item"></div>
                <div class="burger_item"></div>
              </div>
            </div>
            <div class="header_mobile-logo"><img src="img/moblogo.png" alt=""></div>
            <div class="header_mobile-phone"><a href="tel:+88007007877"><img src="img/phone_mobile.svg" alt=""></a></div>
          </div>
        </div>
        <div class="container">
          <div class="header_top clearfix">
            <div class="header_logo"><img src="img/catlogo.png" alt=""></div>
            <div class="header_top-right">
              <div class="header_favorites">
                <div class="header_favorite-item active"><span>1</span><a href="#">Избранное </a></div>
                <div class="header_compare-item active"><span>5</span><a href="#">Сравнение </a></div>
              </div>
              <div class="header_call"><a href="#getCall">Заказать звонок</a></div>
              <div class="header_phone-num">
                <p>Бесплатный звонок по России</p><a href="tel:+88007007877">8 800 700-78-77</a>
              </div>
            </div>
          </div>
          <div class="header_nav">
            <ul>
              <li class="nav_drop"><a class="nav_drop_active-link" href="javascript:void(0)">
                  Каталог
                  недвижимости</a></li>
              <li class="nav_drop"><a href="javascript:void(0)">Каталог услуг</a></li>
              <li class="nav_drop"><a href="javascript:void(0)">Помощь клиентам</a></li>
              <li><a href="#">Новости и аналитика</a></li>
              <li class="nav_drop"><a href="javascript:void(0)">О компании</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </div>
        </div>
        <div class="nav_drop_container__block">
          <div class="nav_drop_container">
            <div class="container">
              <div class="nav_drop_container-wrap">
                <div class="nav_drop_nav-top">
                  <ul>
                    <li class="active">Собственникам</li>
                    <li>Покупателям</li>
                    <li>Арендаторам</li>
                  </ul>
                </div>
                <div class="nav_drop_nav-top_child-wrap">
                  <div class="nav_drop_nav-top_child-item active">
                    <ul>
                      <li>Продать
                        <div class="nav_drop_nav-top_child-hidden">
                          <ul>
                            <li><a href="#">Квартиру/комнату</a></li>
                            <li><a href="#">Дом/коттедж</a></li>
                            <li><a href="#">Дачу</a></li>
                            <li><a href="#">Земельный участок</a></li>
                            <li><a href="#">Коммерческую недвижимость</a></li>
                          </ul>
                        </div>
                      </li>
                      <li class="active">Обменять
                        <div class="nav_drop_nav-top_child-hidden">
                          <ul>
                            <li><a href="#">Квартиру/комнату</a></li>
                            <li><a href="#">Дом/коттедж</a></li>
                            <li><a href="#">Дачу</a></li>
                            <li><a href="#">Земельный участок</a></li>
                            <li><a href="#">Коммерческую недвижимость</a></li>
                            <li><a href="#">Новостройку</a></li>
                            <li><a href="#">Зарубежную недвижимость</a></li>
                            <li><a href="#">Элитную недвижимость</a></li>
                            <li><a href="#">Залоговую недвижимость</a></li>
                          </ul>
                        </div>
                      </li>
                      <li>Сдать</li>
                      <li>Доверительное управление
                        <div class="nav_drop_nav-top_child-hidden">
                          <ul>
                            <li><a href="#">Квартиру/комнату</a></li>
                            <li><a href="#">Дом/коттедж</a></li>
                            <li><a href="#">Дачу</a></li>
                            <li><a href="#">Земельный участок</a></li>
                            <li><a href="#">Коммерческую недвижимость</a></li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="nav_drop_nav-top_child-item">
                    <ul>
                      <li>Продать</li>
                      <li class="active">Обменять
                        <div class="nav_drop_nav-top_child-hidden">
                          <ul>
                            <li><a href="#">Квартиру/комнату</a></li>
                            <li><a href="#">Дом/коттедж</a></li>
                            <li><a href="#">Дачу</a></li>
                            <li><a href="#">Земельный участок</a></li>
                            <li><a href="#">Коммерческую недвижимость</a></li>
                            <li><a href="#">Новостройку</a></li>
                            <li><a href="#">Зарубежную недвижимость</a></li>
                            <li><a href="#">Элитную недвижимость</a></li>
                            <li><a href="#">Залоговую недвижимость</a></li>
                          </ul>
                        </div>
                      </li>
                      <li>Сдать</li>
                    </ul>
                  </div>
                  <div class="nav_drop_nav-top_child-item">
                    <ul>
                      <li>Продать</li>
                      <li class="active">Обменять
                        <div class="nav_drop_nav-top_child-hidden">
                          <ul>
                            <li><a href="#">Квартиру/комнату</a></li>
                            <li><a href="#">Дом/коттедж</a></li>
                            <li><a href="#">Дачу</a></li>
                            <li><a href="#">Земельный участок</a></li>
                            <li><a href="#">Коммерческую недвижимость</a></li>
                            <li><a href="#">Новостройку</a></li>
                            <li><a href="#">Зарубежную недвижимость</a></li>
                            <li><a href="#">Элитную недвижимость</a></li>
                            <li><a href="#">Залоговую недвижимость</a></li>
                          </ul>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="nav_drop_container">
            <div class="container">
              <div class="nav_drop_container-wrap">
                <div class="nav_drop_nav-top">
                  <ul>
                    <li class="active">Собственникам</li>
                    <li>Покупателям</li>
                    <li>Арендаторам</li>
                    <li>Ипотека</li>
                  </ul>
                </div>
                <div class="nav_drop_nav-top_child-wrap">
                  <div class="nav_drop_nav-top_child-item">
                    <ul>
                      <li>Продать</li>
                      <li class="active">Обменять
                        <div class="nav_drop_nav-top_child-hidden">
                          <ul>
                            <li><a href="#">Квартиру/комнату</a></li>
                            <li><a href="#">Дом/коттедж</a></li>
                            <li><a href="#">Дачу</a></li>
                            <li><a href="#">Земельный участок</a></li>
                            <li><a href="#">Коммерческую недвижимость</a></li>
                            <li><a href="#">Новостройку</a></li>
                            <li><a href="#">Зарубежную недвижимость</a></li>
                            <li><a href="#">Элитную недвижимость</a></li>
                            <li><a href="#">Залоговую недвижимость</a></li>
                          </ul>
                        </div>
                      </li>
                      <li>Сдать</li>
                      <li>Доверительное управление</li>
                      <li>Срочный выкуп</li>
                      <li>Сопровождение</li>
                      <li>Оформление</li>
                      <li>Ипотека</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="nav_drop_container">
            <div class="container">
              <div class="nav_drop_container-wrap">
                <div class="nav_drop_nav-top">
                  <ul>
                    <li class="active">Собственникам</li>
                  </ul>
                </div>
                <div class="nav_drop_nav-top_child-wrap">
                  <div class="nav_drop_nav-top_child-item">
                    <ul>
                      <li>Продать</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="nav_drop_container">
            <div class="container">
              <div class="nav_drop_container-wrap">
                <div class="nav_drop_nav-top">
                  <ul>
                    <li class="active">Собственникам</li>
                    <li>Покупателям</li>
                    <li>Арендаторам</li>
                    <li>Ипотека</li>
                  </ul>
                </div>
                <div class="nav_drop_nav-top_child-wrap">
                  <div class="nav_drop_nav-top_child-item">
                    <ul>
                      <li></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- LANDING-->
    <div class="wrapper main-wrapper">
      <div class="workarea">
        <section class="section">
          <div class="container">
            <!-- btn-->
            <button class="btn btn-prime">Не активная</button>
            <button class="btn btn-second">Не активная</button>
            <!-- form-->
            <form class="form" action="">
              <div class="form__head">
                <h2 class="form__title">Продать квартиру комфортно</h2>
              </div>
              <div class="form__body">
                    <div class="form__input">
                      <input id="FORM_NAME" type="text" name="FORM_NAME" placeholder="Ваше имя" data-required="undefined">
                      <label for="FORM_NAME">Ваше имя</label>
                    </div>
                    <div class="form__input">
                      <input id="FORM_LASTNAME" type="text" name="FORM_LASTNAME" placeholder="Фамилия" data-required="undefined">
                      <label for="FORM_LASTNAME">Фамилия</label>
                    </div>
                    <div class="form__input">
                      <input id="FORM_TEL" type="tel" name="FORM_TEL" placeholder="Телефон*" data-required="undefined">
                      <label for="FORM_TEL">Телефон*</label>
                    </div>
              </div>
              <div class="form__footer">
                <div class="form__checkbox">
                  <label>Я принимаю <a href="#" title="title">условия передачи информации</a>
                    <input type="checkbox" name="FORM_CHECK">
                    <div class="checkbox"></div>
                  </label>
                </div>
                <button class="btn btn-prime">Отправить</button>
              </div>
            </form>
            <!-- list-->
            <h2>Как мы продаем квартиру за 5 простых шагов</h2>
                <div class="schedule">
                  <ul>
                    <li>
                      <h4>Бесплатная консультация</h4>
                      <p>Оцениваем стоимость жилья и рассказываем о налогах, документах и отвечаем на все ваши вопросы. Приедем к вам или ждем вас у нас в офисе.</p>
                    </li>
                    <li>
                      <h4>Оценка квартиры</h4>
                      <p>Проводим мониторинг рынка, определяем лучшую цену. Вы также можете оценить квартиру с помощью нашего бесплатного он-лайн калькулятора. Мы всегда продаем недвижимость дороже рыночной цены.</p>
                    </li>
                    <li>
                      <h4>Рекламная кампания</h4>
                      <p>Рекламируем квартиру на 30 ведущих площадках Москвы и МО. Ведем переговоры, обрабатываем обращения. Продажа как правило занимает не более 60 дней.</p>
                    </li>
                    <li>
                      <h4>Когда покупатель найден</h4>
                      <p>Юрист подготавливает все необходимые документы для проведения сделки. Вы знаете о всех условиях сделки заранее и приезжаете на нее уже с готовыми документами. На всех этапах с вами наш специалист.</p>
                    </li>
                    <li>
                      <h4>Вы получаете деньги</h4>
                      <p>Оплата услуг происходит только после успешного заключения сделки и составляет от 2% до 4% в зависимости от цены недвижимости.</p>
                    </li>
                  </ul>
                </div>
            <!-- advant card-->
            <div class="advant">
              <ul class="advant__list">
                <li class="advant__item">
                  <div class="advant__img"><img src="img/icon-advant-1.png" alt="icon-advant-1"></div>
                  <div class="advant__body">
                    <h4 class="advant__title">Профессиональные юристы</h4>
                    <p class="advant__text">Все документы подготовит наш юридический отдел и будет сопровождать вашу сделку до ее окончания</p>
                  </div>
                </li>
                <li class="advant__item">
                  <div class="advant__img"><img src="img/icon-advant-2.png" alt="icon-advant-2"></div>
                  <div class="advant__body">
                    <h4 class="advant__title">Персональный менеджер</h4>
                    <p class="advant__text">У вас будет персональный специалист, который проконсультирует вас по всем вопросам недвижимости и поможет на всех этапах продажи вплоть до окончания сделки</p>
                  </div>
                </li>
                <li class="advant__item">
                  <div class="advant__img"><img src="img/icon-advant-3.png" alt="icon-advant-3"></div>
                  <div class="advant__body">
                    <h4 class="advant__title">Ипотеченые партнеры Сбербанка</h4>
                    <p class="advant__text">Мы аккредитованный партнер Сбербанка России. Благодаря этому мы способны получить решение по ипотеке за 2 часа</p>
                  </div>
                </li>
                <li class="advant__item">
                  <div class="advant__img"><img src="img/icon-advant-4.png" alt="icon-advant-4"></div>
                  <div class="advant__body">
                    <h4 class="advant__title">Нет оспоренных сделок</h4>
                    <p class="advant__text">Ни одна сделка не была оспорена за 11 лет нашей работы</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- END LANDING-->
    <footer>
      <div class="footer_wrap">
        <div class="footer_dispatch">
          <div class="container">
            <form id="formSub" method="POST">
              <div class="footer_dispatch-input"><span>Подпишитесь на нашу рассылку</span>
                <input class="subscribe" type="text" placeholder="Ваш E-mail">
                <input class="btn-send" type="submit" value="Подписаться" disabled="">
              </div>
              <div class="footer_dispatch-checkbox">
                <input id="dispatch-checkbox" type="checkbox" name="checkbox">
                <label for="dispatch-checkbox">Нажимая на кнопку «Подписаться», я даю<a href="#">согласие на обработку персональных данных</a></label>
              </div>
            </form>
          </div>
        </div>
        <div class="footer_bottom">
          <div class="footer_phone">
            <div class="container">
              <div class="footer_phone-left">
                <p>Бесплатный звонок по России</p><a href="tel:+88007007877">8 800 700-78-77</a>
              </div>
              <div class="footer_socials"><a class="footer_socials-inst" href="#"></a><a class="footer_socials-fb" href="#"></a><a class="footer_socials-vk" href="#"></a></div>
            </div>
          </div>
          <div class="footer_nav">
            <div class="container">
              <ul>
                <li><a href="#">Каталог недвижимости</a></li>
                <li><a href="#">Каталог услуг</a></li>
                <li><a href="#">Помощь клиенту</a></li>
                <li><a href="#">Новости и аналитика</a></li>
                <li><a href="#">О компании</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </div>
          </div>
          <div class="footer_client-info">
            <div class="container"><a class="footer_personal-info" href="#">Персональные данные</a><a href="#">Действующие договоры</a></div>
          </div>
          <div class="footer_copyright">
            <div class="container"><span>
                © Агентство недвижимости «ФРИДОМ», 2017. Представленная информация не является публичной
                офертой</span></div>
          </div>
        </div>
      </div>
    </footer>
    <!-- BEGIN: popups-->
    <!-- END: 21-06-2018 popups-->
    <!---->
    <script type="text/javascript" src="https://www.freedome-realty.ru/bitrix/js/main/core/core_db.js?151229822417880"></script>
    <script type="text/javascript" src="https://www.freedome-realty.ru/bitrix/js/main/core/core_frame_cache.js?149899885717555"></script>
    <script type="text/javascript" src="https://www.freedome-realty.ru/bitrix/js/main/jquery/jquery-1.8.3.min.js?149899885793636"></script>
    <script src="./libs/slick/slick.min.js"></script>
    <script src="libs/jquery.inputmask.bundle.js"></script>
    <script>
      $(document).ready(function(){
          $('[type=tel]').inputmask({mask: "+7 [999 999-9999]", greedy: false});
      });
    </script>
    <script src="js/script.js"></script>
    <script src="js/main.js"></script>
    <script src="new-js.js"></script>
  </body>
</html>

src/pug/pages/ui.pug
extends ../layout
block content
    section.section
        .container
            // btn
            button.btn.btn-prime Не активная
            button.btn.btn-second Не активная
            // form
            form.form(action="")
                .form__head
                    h2.form__title Продать квартиру комфортно
                .form__body
                    +input("text", "form__input", "Ваше имя", "FORM_NAME", "FORM_NAME")
                    +input("text", "form__input", "Фамилия", "FORM_LASTNAME", "FORM_LASTNAME")
                    +input("tel", "form__input", "Телефон*", "FORM_TEL", "FORM_TEL")
                .form__footer
                    div(class="form__checkbox")
                        label Я принимаю 
                            a(href="#", title="title") условия передачи информации
                            input(type="checkbox", name="FORM_CHECK")
                            .checkbox
                    button.btn.btn-prime Отправить
            // list
            h2 Как мы продаем квартиру за 5 простых шагов
            - var items = [{title: "Бесплатная консультация", text: "Оцениваем стоимость жилья и рассказываем о налогах, документах и отвечаем на все ваши вопросы. Приедем к вам или ждем вас у нас в офисе."}, {title: "Оценка квартиры", text: "Проводим мониторинг рынка, определяем лучшую цену. Вы также можете оценить квартиру с помощью нашего бесплатного он-лайн калькулятора. Мы всегда продаем недвижимость дороже рыночной цены."}, {title: "Рекламная кампания", text: "Рекламируем квартиру на 30 ведущих площадках Москвы и МО. Ведем переговоры, обрабатываем обращения. Продажа как правило занимает не более 60 дней."}, {title: "Когда покупатель найден", text: "Юрист подготавливает все необходимые документы для проведения сделки. Вы знаете о всех условиях сделки заранее и приезжаете на нее уже с готовыми документами. На всех этапах с вами наш специалист."}, {title: "Вы получаете деньги", text: "Оплата услуг происходит только после успешного заключения сделки и составляет от 2% до 4% в зависимости от цены недвижимости."}]
            +list(items)
            // advant card
            - var advant = [{title: "Профессиональные юристы", text: "Все документы подготовит наш юридический отдел и будет сопровождать вашу сделку до ее окончания"}, {title: "Персональный менеджер", text: "У вас будет персональный специалист, который проконсультирует вас по всем вопросам недвижимости и поможет на всех этапах продажи вплоть до окончания сделки"}, {title: "Ипотеченые партнеры Сбербанка", text: "Мы аккредитованный партнер Сбербанка России. Благодаря этому мы способны получить решение по ипотеке за 2 часа"}, {title: "Нет оспоренных сделок", text: "Ни одна сделка не была оспорена за 11 лет нашей работы"}]
            .advant
                ul.advant__list
                    each item, i in advant
                        li.advant__item
                            .advant__img
                                img(src=`img/icon-advant-${i+1}.png`, alt=`icon-advant-${i+1}`)
                            .advant__body
                                h4.advant__title=item.title
                                p.advant__text=item.text
